@keyframes moveForward {
    0% {
        transform: translateX(0);
    }

    40% {
        transform: translateX(400px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes moveForwardForAi {
    0% {
        transform: translateX(0);
    }

    40% {
        transform: translateX(-400px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes damageFade {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(-150px);
        opacity: 0;
    }
}

.duelWrapper {
    height: 100vh;
    background: url('./img/castle.jpg');
    background-size: cover;
    background-position: center;
    .moveForward {
        width: 250px;
        animation: moveForward 1.25s ease;
    }

    .moveForwardForAi {
        position: absolute;
        bottom: 10%;
        right: 30%;
        width: 250px;
        animation: moveForwardForAi 1.25s ease;
    }

    .character {
        display: flex;
        position: absolute;
        bottom: 7%;
        left: 30%;

        .leftSide,
        .rightSide {
            display: flex;
            flex-direction: column;
            gap: 10px;

            span {
                cursor: pointer;
                transition: 0.3s ease;

                img {
                    border: 2px solid black;
                    width: 60px;
                    border-radius: 50%;
                    transition: 0.3s ease;
                }
            }

            span:hover {
                transition: 0.3s ease;

                img {
                    border: 2px solid rgb(173, 145, 21);
                    transition: 0.3s ease;
                }
            }
        }

        .enemyDamage {
            position: absolute;
            right: 40%;
            top: 20%;
            font-size: 2em;
            color: red;
            animation: damageFade 1.5s ease;
        }

        .leftSide span:nth-child(2) {
            transform: translateX(-30px);
        }

        .rightSide span:nth-child(2) {
            transform: translateX(30px);
        }

        .characterImg {
            width: 250px;
        }
    }

    .enemy {
        position: absolute;
        bottom: 10%;
        right: 30%;
        width: 250px;
    }
}

.damage {
    position: absolute;
    bottom: 27%;
    right: 36%;
    font-size: 2em;
    color: red;
    animation: damageFade 1.5s ease;
}

.details {
    width: 100px;
    text-align: center;
    padding: 3px;
    font-weight: 700;
    background: rgb(170, 84, 84);
}

.ghost {
    position: absolute;
    left: 20%;
    width: 150px;
    opacity: 0.5;
    animation: ghost 1.5s ease;
}

.enemyGhost {
    position: absolute;
    bottom: 18%;
    right: 32%;
    width: 150px;
    opacity: 0.5;
    animation: ghost 1.5s ease;
}

@keyframes ghost {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-300px);
        opacity: 0;
    }
}

.continueBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    background: rgb(124, 32, 32);
    border-radius: 3px;
    font-size: 2em;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
}

.continueBtn:hover {
    background: rgb(179, 46, 46);
    transition: 0.3s ease;
}